<h2>User info</h2>
<%= attachment_image_tag user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg", size: '100x100' %>
<table class="table">
  <tbody>
    <tr></tr>
    <tr>
      <th>name</th>
      <th><%= user.name %></th>
    </tr>
    <tr>
      <th>introduction</th>
      <th><%= user.introduction %></th>
    </tr>
  </tbody>
</table>
<% if current_user.id != user.id %>
<div class="row py-3" id="follow_btn_<%= user.id %>}">
  <% if current_user.following?(user) %>
    <%= render 'relationships/unfollow_btn', user: user %>
  <% else %>
    <%= render 'relationships/follow_btn', user: user %>
  <% end %>
</div>
<% end %>
<div class="row">
  <%= link_to "", edit_user_path(user.id), class: "btn btn-outline-secondary btn-block fas fa-user-cog" %>
</div>