<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
  <main>
    <p id="notice"><%= notice %></p>
    <div class="row">
      <div class="col text-center">
        <% if user_signed_in? %>
          <%= render 'layouts/search' %>
          <%= link_to "グループを作成する", new_group_path %> | <%= link_to "グループ一覧", groups_path %>
        <% end %>
      </div>
    </div>
    <%= yield %>
  </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
